{% extends "base.html" %}
{% set active_menu_item = 'Admin' %}

{% block content %}
    <h1>Admin Panel</h1>
        
    <div class="homeloginbuttons">
        <a class="btn btn-warning my-2" href="{{ url_for('admin.admin_contestants') }}">Manage Contestants</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-warning my-2" href="{{ url_for('admin.add_tribal') }}">Add Tribal</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-warning my-2" href="{{ url_for('admin.eliminate_contestant') }}">Eliminate Contestant</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-warning my-2" href="{{ url_for('admin.admin_seasons') }}">Manage Seasons</a>&nbsp;&nbsp;&nbsp;
    </div>
{% endblock %}