{% extends "base.html" %}

{% block content %}
<h1>{{ title }} </h1>
<table class="table">
    <thead class="table-header">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Occupation</th>
            <th>About</th>
            <th>Eliminated</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for c in contestants %}
        <tr class="table-row">
            <td>{{ c.name }}</td>
            <td>{{ c.age }}</td>
            <td>{{ c.occupation }}</td>
            <td>{{ c.description }}</td>
            <td>
                {% if c.is_eliminated %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                <a class="button-secondary pure-button" href="{{ url_for('admin.edit_contestant', id=c.id) }}">
                    Edit
                </a>
            </td>
            <td>
                <a class="button-warning pure-button" href="{{ url_for('admin.delete_contestant', id=c.id) }}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a class="pure-button pure-button-primary" href="{{ url_for('admin.add_contestant') }}">
        Add another contestant
    </a>
</p>
{% endblock %}