{% extends 'base.html' %}
{% block content %}
<h1>Admin: Edit contestant: {{ contestant_name }}</h1>
NOTE: Setting a contestant to eliminated on this page does not create an elimination record/event.<br/>
To eliminate a contestant, use the <a href="{{ url_for('admin.eliminate_contestant') }}">Eliminate Contestant</a> page.

<form method="POST" class="pure-form pure-form-stacked">
    {{ form.csrf_token }}

    {{ form.name.label (class='form-label')}}
    {{ form.name (class='form-control')}}

    {{ form.age.label (class='form-label')}}
    {{ form.age (class='form-control')}}

    {{ form.occupation.label (class='form-label')}}
    {{ form.occupation (class='form-control')}}

    {{ form.description.label (class='form-label')}}
    {{ form.description (class='form-control')}}

    <label>
        {{ form.is_eliminated.label.text | safe }}
        {{ form.is_eliminated }}
    </label>

    <br/>
    {{ form.submit(class_="btn btn-warning my-2") }}

</form>
{% endblock %}