@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  text-align: center;
  background-color: rgb(118, 67, 48);
  color: #e3a537;
  font-size: 60pt;
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Style the tables */
.table {
  border-spacing: 0;
  margin: 1rem;
  background-color: #dd940d;
}
.table-row:nth-child(even) {
    background-color: #faf4c3
}
.table-header {
    text-align: left;
}
.table-cell {
    padding: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #e3a537;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(246, 229, 138);
  color: black;
}

/* Style logo */
.logo {
  float:right;
  vertical-align: top;
  z-index: 2;
}

/* Style the content */
.content {
  background-color: rgb(246, 229, 138);
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: rgb(118, 67, 48);
  color: #e3a537;
  padding: 10px;
}