@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(246, 229, 138);
} 

/* Style the content - Without this the footer doesn't sit on the bottom */ 
.content {
  min-height: 100%;
} 

/* adds a bit of space at the top, and gives room at the bottom for the footer */
.container {
  padding-top: 20px;
  padding-bottom: 50px;
}

/* Style the footer */
.footer {
  height: 50px;
  margin-top: -50px;
  padding: 5px;
  width: 100%;
  background-color: rgb(118, 67, 48);
  text-align: center;
  color: #e3a537;
}

/* Style the header */
.header {
  text-align: center;
  background-color: rgb(118, 67, 48);
  color: #e3a537;
  font-size: 50pt;
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Style logo */
.logo {
  float:right;
  vertical-align: top; 
  z-index: -1;
  padding-top: 5px;
  padding-right: 30px;
}

h1 {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

.table {
  border-color: #e3a537;
}

/* Style the tables 
.table {
  border-spacing: 0;
  margin: 1rem;
  background-color: #e3a537;
}
.table-row:nth-child(even) {
    background-color: #faf4c3
}
.table-header {
    text-align: left;
    background-color: rgb(118, 67, 48);
    color: #faf4c3;
}
.table-cell {
    padding: 10px;
}  */


/* override the bootstrap style to make it green */
.btn-primary {
  background: #566e3d;

}

.clear {
  clear: both;
}