@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(246, 229, 138);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the content */
.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

/* Style the footer */
.footer {
  height: 50px;
  margin-top: -50px;
  padding: 5px;
  width: 100%;
  background-color: rgb(118, 67, 48);
  text-align: center;
  color: #e3a537;
}

.text-area {
  margin: 20px;
  padding: 20px;
  border:1px solid rgb(118, 67, 48);
  border-radius: 15px;
  width: 80%;
  display: block;
	text-align: left;
  background-color: rgb(246, 229, 138, 0.5);
}

h1 {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  text-align: center;
  background-color: rgb(118, 67, 48);
  color: #e3a537;
  font-size: 50pt;
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Style logo */
.logo {
  float:right;
  vertical-align: top; 
  z-index: -1; 
}

/* Style the tables */
.table {
  border-spacing: 0;
  margin: 1rem;
  background-color: #e3a537;
}
.table-row:nth-child(even) {
    background-color: #faf4c3
}
.table-header {
    text-align: left;
}
.table-cell {
    padding: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #210f0f;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #e3a537;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #566e3d;
  color: #e3a537;
}

/* Style the login buttons on home page */
.homeloginbuttons {
  text-align: center;
  padding: 10px 10px;
  margin: 25px;
}

.link-button {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #566e3d;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
}

.clear {
  clear: both;
}