{% extends 'base.html' %}
{% block content %}
<h1>Admin: Enter contestant details</h1>
<ul class="errors">
{% for field, errors in form.errors.items() %}
    <li>
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </li>
{% endfor %}
</ul>
<form method="POST" class="pure-form pure-form-stacked">
    {{ form.csrf_token }}

    {{ form.name.label (class='form-label') }}
    {{ form.name (class='form-control')}}
    <br/>
    {{ form.age.label (class='form-label')}}
    {{ form.age (class='form-control')}}
    <br/>
    {{ form.occupation.label (class='form-label')}}
    {{ form.occupation (class='form-control')}}
    <br/>
    {{ form.description.label (class='form-label')}}
    {{ form.description (class='form-control')}}

    <br/>
    {{ form.submit(class_="btn btn-warning") }}

</form>
{% endblock %}