{% extends 'base.html' %}
{% block content %}
<h1>Admin: Create a Tribal event</h1>
<ul class="errors">
{% for field, errors in form.errors.items() %}
    <li>
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </li>
{% endfor %}
</ul>
<form method="POST" class="pure-form pure-form-stacked">
    {{ form.csrf_token }}
    {{ form.tribal_date.label(class='form-label') }}
    {{ form.tribal_date (class='form-control')}}

    <br/>
    {{ form.submit(class_="btn btn-warning my-2") }}

</form>
{% endblock %}