<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name = "viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
      {% if title %}
        <title>{{ title }} - Cosy Couch Survivor</title>
      {% else %}
        <title>Cosy Couch Survivor</title>
      {% endif %}
    </head>
    <body>
        <div class='content'>
            <div class="header">
                Cosy Couch Survivor
            <!--troy touched this part lines 18-45-->
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
                <a class="navbar-brand" href="#"></a>
                    <img src="/static/logo.png" alt ="Survivor Logo" style="width:70px;" class="rounded-pill">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav" class= "navbar-left">
                    <li class="nav-item">
                        <a class="nav-link {% if active_menu_item == 'Home' %} active {% endif %}" 
                            href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_menu_item == 'Contestants' %} active {% endif %}" 
                            href="{{ url_for('contestants') }}">Contestants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_menu_item == 'Vote' %} active {% endif %}" 
                            href="{{ url_for('vote') }}">Vote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_menu_item == 'Leaderboard' %} active {% endif %}" 
                            href="{{ url_for('leaderboard') }}">Leaderboard</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav pull-right"></ul>
                    <li class="nav-item">
                      <a class="nav-link {% if active_menu_item == 'Sign Up' %} active {% endif %}" 
                          href="{{ url_for('sign_up') }}">Sign Up</a>
                    </li>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if active_menu_item == 'Login' %} active {% endif %}" 
                        href="{{ url_for('login') }}">Login</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <!-- To this part -->

            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" height="210px" width="250px">
            </div>
            <div class='content-inside'>
                <!-- Show any flashed messages on the page -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
    </div>
    <div class="clear"></div>
    <div class="footer">
        <p>Privacy Policy | Contact Us | Copyright 2021 | Created by EDPF5023 Legends aka Kylie, Troy & Michelle</p>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    </body>
</html>