{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}, who's going home tonight?</h1>
    <h2>Rules</h2>
    <div><p>{{ how_to }} </p></div>
    <h2>Enter your vote for {{ date }}</h2>
<form method="POST" class="pure-form pure-form-stacked">
    <label for="user">User name: </label>
    <input type="text" name="voter" id="voter" value={{ user.username }}>
    <br>
    <label for="start">Start date:</label>
    <input type="date" id="tribal_date" name="tribal_date"
       value="2021-08-30"
       min="2021-08-30" max="2021-08-30">
    <br>
    <label for="Contestant">Contestant name:</label>
    <select name="contestant" id="contestant">
        {% for x in contestants_left %}
            <option value= {{ x }} > {{ x }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" class="pure-button pure-button-primary" value="Place Vote" />
</form>
{% endblock %}