{% extends 'base.html' %}
{% block content %}
<h2>Edit contestant: {{ contestant_name }}</h2>
<ul class="errors">
{% for field, errors in form.errors.items() %}
    <li>
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </li>
{% endfor %}
</ul>
<form method="POST" class="pure-form pure-form-stacked">
    {{ form.csrf_token }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.age.label }}
    {{ form.age }}

    {{ form.occupation.label }}
    {{ form.occupation }}

    {{ form.description.label }}
    {{ form.description }}

    <label>
        {{ form.is_eliminated.label.text | safe }}
        {{ form.is_eliminated }}
    </label>

    <br/>
    {{ form.submit(class_="pure-button pure-button-primary") }}

</form>
{% endblock %}