{% extends "base.html" %}

{% block content %}
<h1>Admin: Elimination</h1>
<h3>Select Tribal and contestant to eliminate</h3>

<form method="POST" class="pure-form pure-form-stacked">
        {{ form.csrf_token }}

        {{ form.tribal_id.label (class='form-label')}}
        {{ form.tribal_id (class='form-control')}}
    <br/>
        {{ form.voted_out_id.label (class='form-label') }}
        {{ form.voted_out_id (class='form-control')}}
    <br/>
        <br/>
        {{ form.submit(class_="btn btn-warning my-2") }}
    </form>
</div>
{% endblock %}