{% extends "base.html" %}

{% block content %}
    {% if user.username %}
        <h1>Hello {{ user.username }}, welcome to Cosy Couch Survivor!</h1>
    {% else %}
        <h1>Hello and welcome to Cosy Couch Survivor!</h1>
    {% endif %}
    <h2>Here's all the latest Survivor gossip</h2>
    <!-- Displaying the last five comments from the apps users about the game. 
        In this version the chat feature is not functional -->
    {% for item in comments %}
        <div><p>{{ item.User }} says: <b>{{ item.Comment }}</b></p></div>
    {% endfor %}
    <div class="homeloginbuttons">
        <a class="link-button" href="/login">Login</a>&nbsp;&nbsp;&nbsp;
        <a class="link-button" href="/sign_up">Sign Up</a>
    </div>
{% endblock %}