{% extends "base.html" %}
{% set active_menu_item = 'Home' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hello {{ current_user.firstname }}, welcome to Cosy Couch Survivor!</h1>
    {% else %}
        <h1>Hello and welcome to Cosy Couch Survivor!</h1>
        <h2>Please register or login</h2>
    {% endif %}
    <p>&nbsp;</p>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ url_for('static', filename='slide3.jpeg') }}" alt="Brains versus Brawn">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ url_for('static', filename='slide2.jpeg') }}" alt="Tribal Council">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ url_for('static', filename='slide3.jpeg') }}" alt="Let the games begin!">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <p>&nbsp;</p>
    <h4>Get involed in Survivor Australia season 6 from the comfort of home!</h4>
     <!--Displaying the last five comments from the apps users about the game. 
        In this version the chat feature is not functional 
    {% for item in comments %}
        <div><p>{{ item.User }} says: <b>{{ item.Comment }}</b></p></div>
    {% endfor %}
    -->
{% endblock %}