{% extends "base.html" %}
{% set active_menu_item = 'Home' %}

{% block content %}
    {% if current_user.firstname %}
        <h1>Hello {{ current_user.firstname }}, welcome to Cosy Couch Survivor!</h1>
    {% else %}
        <h1>Hello and welcome to Cosy Couch Survivor!</h1>
    {% endif %}
    <h2>Here's all the latest Survivor gossip</h2>
    <!-- Displaying the last five comments from the apps users about the game. 
        In this version the chat feature is not functional -->
    {% for item in comments %}
        <div><p>{{ item.User }} says: <b>{{ item.Comment }}</b></p></div>
    {% endfor %}

{% endblock %}