{% extends "base.html" %}

{% block content %}
    <h1>{{ title }} </h1>
    <div class="text-area">
    <ul class="errors">
        {% for field, errors in form.errors.items() %}
            <li>
                {{ form[field].label }} {{ ', '.join(errors) }}
            </li>
        {% endfor %}
    </ul>
    <form method="POST" class="pure-form pure-form-stacked">
        {{ form.csrf_token }}

        {{ form.username.label }}
        {{ form.username }}
        <br/>
        {{ form.password.label }}
        {{ form.password }}
        <br/>
        {{ form.submit(class_="pure-button pure-button-primary") }}
    </form>
    </div>
{% endblock %}    
