{% extends "base.html" %}

{% block content %}

<h1>Privacy Policy</h1>
This privacy policy ("policy") will help you understand how [name] ("us", "we", "our") uses and protects the data you provide to us when you visit and use [website] ("website", "service").
We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.

<h3>What User Data We Collect</h3>
When you sign up for this website, we may collect the following data:
<ul>
    <li>Your IP address.</li>
    <li>Your contact information and email address.</li>
    <li>Data profile regarding your online behavior on our website.</li>
</ul>

<h3>Why We Collect Your Data</h3>
We are collecting your data for several reasons:
<ul>
    <li>To better understand your needs.</li>
    <li>To improve our services and products.</li>
</ul>

<h3>Safeguarding and Securing the Data</h3>
We are committed to securing your data and keeping it confidential. We have done all in its power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.

<h3>Our Cookie Policy</h3>
Once you agree to allow our website to use cookies, you also agree to use the data it collects regarding your online behavior (analyze web traffic, web pages you spend the most time on, and websites you visit).
The data we collect by using cookies is used to customize our website to your needs. After we use the data for statistical analysis, the data is completely removed from our systems.
Please note that cookies don't allow us to gain control of your computer in any way. They are strictly used to monitor which pages you find useful and which you do not so that we can provide a better experience for you.
If you want to disable cookies, you can do it by accessing the settings of your internet browser. (Provide links for cookie settings for major internet browsers).

<h3>Restricting the Collection of your Personal Data</h3>
At some point, you might wish to restrict the use and collection of your personal data. You can achieve this by doing the following:
When you are filling the forms on the website, make sure to check if there is a box which you can leave unchecked, if you don't want to disclose your personal information.
If you have already agreed to share your information with us, feel free to contact us via email and we will be more than happy to change this for you.
We will not lease, sell or distribute your personal information to any third parties, unless we have your permission. We might do so if the law forces us. Your personal information will be used when we need to send you promotional materials if you agree to this privacy policy.
<p>&nbsp;</p>
{% endblock %}