{% extends "base.html" %}

{% block content %}
    <h1>{{ title }} </h1>
    <div class="text-area">
    <ul class="errors">
        {% for field, errors in form.errors.items() %}
            <li>
                {{ form[field].label }} {{ ', '.join(errors) }}
            </li>
        {% endfor %}
    </ul>
    <form method="POST" class="pure-form pure-form-stacked">
        {{ form.csrf_token }}

        {{ form.firstname.label (class='form-label')}}
        {{ form.firstname (class='form-control')}}
        <br/>
        {{ form.surname.label (class='form-label') }}
        {{ form.surname (class='form-control')}}
        <br/>
        {{ form.username.label (class='form-label')}}
        {{ form.username (class='form-control')}}
        <br/>
        {{ form.password.label (class='form-label')}}
        {{ form.password (class='form-control')}}
        <br/>
        {{ form.confirm.label (class='form-label')}}
        {{ form.confirm (class='form-control')}}
        <br/>
        {{ form.email.label (class='form-label')}}
        {{ form.email (class='form-control')}}
        <br/>
        {{ form.submit(class_="btn btn-warning my-2") }}
    </form>
    </div>
{% endblock %}