{% extends "base.html" %}

{% block content %}
    <table class="table">
        <tr class="table-header">
            <th class="table-cell">Name</th>
            <th class="table-cell">Password</th>
            <th class="table-cell">Domain</th>
        </tr>
            <tr class="table-row">
                <td class="table-cell">{{ new_user.name }}</td>
                <td class="table-cell">${{ new_user.pword }}</td>
                <td class="table-cell">{{ new_user.domain}}</td>
            </tr>
    </table>
{% endblock %}