{% extends "base.html" %}
{% set active_menu_item = 'Vote' %}

{% block content %}
    <h1>{{ title }} - who's going home tonight?</h1>
    <h3>Rules</h3>
    <p>The competition allows you to vote on who will go home at tribal councils for the current season of Survivor. Only one vote per tribal is allowed.</p>
    <h3>Scoring</h3>
    <p>Choose the person to that is eliminated at the selected tribal council as your first vote and you will receive <em>10 points</em></10>, as your second vote <em>3 points</em>, or as your third vote <em>1 point</em>. </p>
    <h3>Steps for placing a vote</h3>
    <ul>
        <li>Select the date of the Tribal council. Only future tribals will be available for selection.</li>
        <li>Select the person you believe is most likely to be eliminated as your <strong>first vote</strong>. First vote is a required field!</li>
        <li>Optionally, you may choose to select a second and third vote. This can be the same contestant as your first vote, or other contestants.</li>
    </ul>
    <div class="text-area">
    <h2>Enter your votes, {{ current_user.firstname }}</h2>
    
    <form method="POST" class="form-horizontal">
        {{ form.csrf_token }}

        {{ form.tribal_id.label (class='form-label') }}
        {{ form.tribal_id (class='form-control')}}
    <br/>
        {{ form.first_choice_id.label (class='form-label') }}
        {{ form.first_choice_id (class='form-control')}}
    <br/>
        {{ form.second_choice_id.label (class='form-label') }}
        {{ form.second_choice_id (class='form-control')}}
    <br/>
        {{ form.third_choice_id.label (class='form-label') }}
        {{ form.third_choice_id (class='form-control')}}

        <br/>
        {{ form.submit(class_="btn btn-warning my-2") }}
    </form>
</div>
{% endblock %}