{% extends "base.html" %}

{% block content %}
    <h1>{{ title }} - who's going home tonight?</h1>
    <h2>Rules:</h2>
    <div><p>Leave that to me. Send a distress signal, and inform the Senate that all on board were killed. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
        <p>Your eyes can deceive you. Don't trust them. The plans you refer to will soon be back in our hands. Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going.</p>
        <p>In my experience, there is no such thing as luck. Obi-Wan is here. The Force is with him. What?! <strong> I find your lack of faith disturbing.</strong> <em> I have traced the Rebel spies to her.</em> Now she is my only link to finding their secret base.</p></div>
    <div class="text-area">
    <h2>Enter your votes</h2>
    <ul class="errors">
        {% for field, errors in form.errors.items() %}
            <li>
                {{ form[field].label }} {{ ', '.join(errors) }}
            </li>
        {% endfor %}
    </ul>
    <form method="POST" class="pure-form pure-form-stacked">
        {{ form.csrf_token }}

        {{ form.tribal_id.label }}
        {{ form.tribal_id }}
    <br/>
        {{ form.first_choice_id.label }}
        {{ form.first_choice_id }}
    <br/>
        {{ form.second_choice_id.label }}
        {{ form.second_choice_id }}
    <br/>
        {{ form.third_choice_id.label }}
        {{ form.third_choice_id }}

        <br/>
        {{ form.submit(class_="pure-button pure-button-primary") }}
    </form>
</div>
{% endblock %}